{% extends "base.html" %}

{% block heading %}
  <h1>Login</h1>
{% endblock %}

{% block content %}
  {% if form.errors %}
    <p>Der Benutzername und das Passwort passen nicht zusammen.</p>
  {% endif %}
  <form method="post" action=".">{% csrf_token %}
    <div class="row">
      <div class="col-md-2">
        <label for="id_username">Benutzername:</label>
      </div>
      <div class="col-md-2">
        {{ form.username }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <label for="id_password">Passwort:</label>
      </div>
      <div class="col-md-2">
        {{ form.password }}
      </div>
    </div>
    <input type="submit" value="Login" class="btn btn-default"/>
    <input type="hidden" name="next" value="/" />
  </form>
  <p>
    <br>
    <a href="/account/register">Registrieren</a>
  </p>
{% endblock %}
